* {
  margin: 0;
  padding: 0;
}

/*    Article    */
.canvas-article {
  background-color: gray;
  height: 100%;
  display: block;
  padding: 10px 0 20px 0;
}

.pdf-center {
  width: 50%;
  height: auto;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /* Colors */
}

.height-50 {
  height: 80vh;
}

.height-100 {
  height: 100vh;
}

.canvas-button-group {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  width: 50vw;
  height: 100%;
  z-index: 1;
  border-radius: 7px;
  line-height: 50px;
  cursor: pointer;
}

.canvas-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.canvas-prev-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.canvas-left-0 {
  left: 0;
}

.canvas-right-0 {
  right: 0;
}

/* Mejorar */
.canvas-position-sticky {
  position: sticky;
}

/*                  Body                   */
.canvas-body{
  overflow: hidden;
}
/* Arrows */
.canvas-arrows {
  margin: 0 10px;
  color: #3B3B3B;
}

.canvas-arrows-size-md {
  font-size: 50px;
}

/*                  Footer                  */
.canvas-page-count {
  color: #ffffff;
  font-family: Open Sans, sans-serif;
  font-size: 12px;
  margin-right: 10px;
  font-weight: 700;
  text-shadow: 0 0 2px #000;
}
.canvas-footer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  text-align: center;
  position: absolute;
  /* transform: translateY(-50%); */
  /* font-size: 36px; */
  width: 100%;
  border-radius: 25px;
  line-height: 20px;
  cursor: pointer;
}

.canvas-range {
  vertical-align: text-bottom;
}
.canvas-zoom{
  width: 50%;
  justify-self: center;
}